.main-header {
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__main-menu {
    margin-left: auto;
  }
  &__cart {
    position: relative;
    margin-left: 5rem;
  }
  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -4px;
    right: -6px;
    width: 13px;
    height: 13px;
    font-size: 10px;
    color: white;
    border-radius: 100%;
    background: var(--accent);
  }
  &__search {
    margin-left: 3.1rem;
  }
  &__sandwich {
    margin-left: 3.1rem;
  }
}
