.main-menu {
  padding: 3rem 0;
  display: flex;
  column-gap: 3rem;

  a {
    display: block;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: white;
  }
  .dropdown a {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -0.7rem;
      transform: translateY(-50%);
      width: 11px;
      height: 7px;
    }
  }
}
